* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(231, 227, 227);
    text-align: center; 
}

header {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 300px;
    margin-top: -20px;
    left: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.096)),url(Hero_1466x300.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(236, 219, 219, 0.384);
    background-color: rgba(0,0,0,0)
}

h2 {
    
}

h3 {

}

h4 {

}

#mainNavMenu {
    background-color: rgb(95, 99, 95);
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 1.5em;
    margin-top: -23px;
    left: 50%;
    padding-top: .3%;
    
}

a {
background-color: rgba(0, 0, 0, 0);
}

a:hover {
    background-color: cyan;
}

#projectPhotoLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {

}

